.AdBannerSliderV2 .swiper {
  width: 100%;
  height: auto; 
  padding: 2vw;

}

.AdBannerSliderV2 .swiper-slide {
  text-align: center;
  font-size: 1.2vw;
  width: auto;
  padding: 2vw;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdBannerSliderV2 .swiper-slide img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
