.searchBox input::placeholder,.searchBox input::-moz-placeholder, .searchBox input::-webkit-input-placeholder{
    color:gray;
}
.nav li .subMenu{
    visibility: hidden;
    z-index: 1000;
    background-color: white;
}
.nav  li:hover .subMenu{
    opacity: 1 !important;
    visibility: inherit !important;
}
.nav li .subMenu Button:hover{
    font-weight: 600;
    background-color: rgb(196, 235, 247) !important;

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
     /* font-family: "Work Sans", sans-serif; */
      font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  background-color: black !important;
}

.container {
 width: 90%;
 margin: auto;
}

.link:hover{
  color: #1d4ed8;
  text-decoration: none;
  user-select: none;
}
.wishlist:hover,.cart:hover,.compare:hover{
  color: rgb(220, 66, 66) !important;
  text-decoration: none;
}

::-webkit-scrollbar{
  width: .4vw;
  height: 1vw;
  color: #2d5de0 !important;
}
::-webkit-scrollbar-thumb{
  background-color: #1d4ed8 !important;
  
}
::-webkit-scrollbar-track{
  background-color: transparent !important;
}
.btn-org{
  background: #2d5de0 !important;
color: white !important;
  font-weight: 500 !important;
  font-size: 1vw !important;
}

.btn-black{
  background-color: white !important;
  padding: 3vw 4vw !important;
  color: black !important;
  font-weight: 600 !important;
  height: 35px;
  border-radius: 17.5px !important;
  
}

/* Custom scrollbar for search results */
.searchBox.search-results::-webkit-scrollbar {
  width: 8px;
  background: transparent !important;
}
.searchBox.search-results::-webkit-scrollbar-thumb {
  background: #fff !important;
  border-radius: 4px !important;
}
.searchBox.search-results::-webkit-scrollbar-track {
  background: transparent !important;
}

.searchBox.search-results {
  scrollbar-width: thin !important;
  scrollbar-color: #fff transparent !important;
}
